<!DOCTYPE html>
<html>
<head></head>
<body>
<h1>List of Landmarks</h1>
  <% @landmarks.uniq.each do |landmark|%>
    <p><%= landmark.name%></p>
    <p><%= landmark.year_completed%></p>
  <%end%>
</body>
</html>